*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url("../images/SP2_Background_satn_bright.jpg");
	background-color: #FFDAB9;
	background-repeat: no-repeat;
}
header {
	background-color: #B0E0E6;
}
h1 {
	font-family: Helvetica, sans-serif;
	font-size: 2.5em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: blue;
	padding: 10px;
	margin: 10px;
}
h2 {
	font-family: Helvetica, sans-serif;
	font-size: 2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: red;
	padding: 8px;
	margin: 8px;
} 
h3 {
	font-family: Helvetica, sans-serif;
	font-size: 1.5m;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	color: orange;
	padding: 5px;
	margin: 5px;
}
p {
	font-family: Georgia, serif;
	font-size: 400;
	font-style: normal;
	font-weight: normal;
	text-align: justify;
	line-height: 1em;
	color: black;
}
nav {
	float: left;
	background-color: yellow;
	font-family: Helvetica, sans-serif;
	clear: both;
	width: 100%;
}
nav a {
	background-color: #008080;
	color: white;
	text-decoration: none;
	display: inline-block;
	float: left;
	width: 200px;
	padding: 10px;
}
@media screen and (max-width: 820px) {
nav { 
	float: none;
}
}
.clearfix:after {
	clear: both;
	visibility: hidden;
	display: block;
	content: "";
	height: 0;
	font-size: 0;
}
a: hover {
	background-color: aqua;
}
div {
	font-size: 1em;
	width: 27%;
	padding: 10px;
	display: inline-block;
}
.column {
	float: left;
	color: #663399;
	width: 28%;
	min-height: 550px:
	padding: 10px;
	margin: 0;
}
.column h2 {
	background-image: url("../images/SP2_Background_satn_bright.jpg");
	#background-color: #663399;

}
#column1 {
	background-color: #FFB7CF;
}
#column2 {
	background-image: url("../images/SP2_Background_satn_bright.jpg");
	background-color: #E582A2;	
}
#column3 {
	#background-image: url("../images/SP2_Background_satn_bright.jpg");
	background-color: #F08080;
}
#hcolumn1 {
	float: left;
	display: block;
	background-image: url("../images/SP2_Background_satn_bright.jpg");
	#background-color: #E0FFFF;
	width: 25%;
	min-height: 200px;
	margin: 0;
	border-width: 1px black;
}
#hcolumn2 {
	float: left;
	display: block;
	background-color: #E0FFFF;
	width: 50%;
	min-height: 200px;
	margin: 0;
	text-align: center;	
}
#hcolumn3 {
	float: left;
	display: block;
	background-image: url("../images/SP2_Background_satn_bright.jpg");
	#background-color: #E0FFFF;
	width: 25%;
	min-height: 200px;
	margin: 0;
	border-width: 1px black;
}
.article {
	width: 100%;
	text-align: center;
	padding: 10px;
	margin: 10px;
}
@media only screen and (max-width: 500px) {
.article {
	float: none;
	width: auto;
}
}
article a {
	font-family: georgia, serif;
	font-size: 400;
	font-weight: bold;
	font-style: italic;
	text-align: right; 
}
#aside1 {
	float: left;
	width: 16%;
	height: 500px;
	background-image: url("../images/SP2_Background_satn_bright.jpg");
	background-color: #EF0FFF;
	padding: 10px
}
aside h2 {
	color: #663399;
	background-image: url("../images/SP2_Background_satn_bright.jpg");
	background-color: red;
	padding: 10px;
	margin-top: 40px;

}
ul li {
	font-family: georgia, serif;
	font-size: 400;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	padding: 0px;
	margin: 10px; 
}
footer {
	background-color: #C0C0C0;
	display: inline-block;
	width: 100%;
	clear: both;
}
footer p {
	text-align: center;
	padding: 10px;
}
footer a {

}
#footer1 {
	float: left;
	display: inline-block;
	width: 35%;
	min-height: 150px;
	margin: 10px;
}
#footer2 {
	float: left;
	display: inline-block;
	text-align: center;
	width: 35%;
	min-height: 150px;	
}
#footer3 {
	float: right;
	display: inline-block;
	width: 30%;	
	min-height: 150px;
}
