#column4 {
	float: left;
	display: inline-block;
	background-color: #FABC94;
	width: 19%;
	padding: 10px
	margin: 10px;
	#border: 2px yellow solid;
}
#column4 h2 {
	background-image: url("../images/Satin_WideHR.gif");
	font-size: 1.4em;
	text-align: center;
	color: red;
	font-style: normal;
	padding: 8px;
	margin-top: 8px;
}
#asideAd1 {
	display: block;
	width: 98%;
	margin: 0px;
	#border: 2px yellow solid;
}
#asideAd2 {
	display: none;
}
#column4div a {
	text-decoration: none;
	text-align: center;
	font-family: helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: 2.2em;
	color: black;
	background-color: #F5DEB3;
	padding: 5px 20px 5px 20px;
	margin: 5px 5px 5px 5px;
}
#column4div a:hover {
	color: aqua;
}
#column4 p {
	text-align: center;
	color: red;
	margin: 10px;
}