*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #FFF8DC;
	/*background-image: url("../images/SPx6_Satinx2.png");
	background-repeat: repeat;*/
}
header {
	background-color: #F5DEB3;
	width: 100%
}
h1 {
	font-family: Helvetica, sans-serif;
	font-size: 2.5em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: #F5DEB3;
	border: 2px red solid;
	padding: 10px;
	margin: 10px;
}
h2 {
	font-family: Helvetica, sans-serif;
	font-size: 2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: red;
	padding: 8px;
	margin: 8px;
} 
h3 {
	font-family: Helvetica, sans-serif;
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #FF0000;
	padding: 5px;
	margin: 5px;
}
p {
	font-family: Georgia, serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	text-align: justify;
	line-height: 1.2em;
	color: black;
	margin: 10px;
}
nav {
	float: left;
	background-color: #F5DEB3;
	font-family: Helvetica, sans-serif;
	clear: both;
	width: 100%;
}
nav a {
	background-image: url("../images/SP_Satin.png");
	font-size: 20px;
	color: yellow;
	text-decoration: none;
	display: inline-block;
	width: 23%;
	min-width: 150px;
	padding: 15px;
	margin: 10px 3px 10px 3px;
}
.clearfix:after {
	clear: both;
	visibility: hidden;
	display: block;
	content: "";
	height: 0;
	font-size: 0;
}
a:hover {
	color: aqua;
}
div {
	font-size: 1em;
	padding: 5px;
	display: inline-block;
}
#hcolumn1 {
	float: left;
	display: block;
	background-color: #F5DEB3;
	width: 25%;
	min-height: auto;
	margin: 0;
}
#hcolumn2 {
	float: left;
	display: block;
	background-image: url("../images/SPx6_Satinx2.png");
	width: 50%;
	min-height: auto;
	margin: 0;
	#border: 3px yellow solid;
	text-align: center;	
}
#hcolumn3 {
	float: left;
	display: block;
	position: top-right;
	background-color: #F5DEB3;
	width: 25%;
	min-height: auto;
	margin: 0;
}
/*COLUMNS*/
.column {
	float: left;
	display: block;
	color: #663399;
	width: 31%;
	min-height: auto;
	margin: 10px;
}
.column h2 {
	background-image: url("../images/Satin_WideHR.gif");
}
#column1 {
	background-color: #F5DEB3;
}
#column2 {
	background-color: #FABC94;	
}
#column3 {
	background-color: #FFA07A;
}
#column4 {
	display: none;
}
.article {
	width: 98%;
	text-align: center;
	padding: 0px;
	margin: 5px;
}
article a {
	font-family: helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	text-align: right; 
	text-decoration: none; 
}
.columnimg {
	width: 96%;
	margin: 5px;
}

footer {
	float: left;
	background-image: url("../images/Satinx2.gif");
	display: block;
	width: 100%;
	margin: 0px;
	#border: 2px yellow solid;
}
#footer1 {
	display: 33%;
	margin: 3px;
	#border: 2px yellow solid;
}
#footer2 {
	display: 33%;
	margin: 3px;
	#border: 2px yellow solid;
}
#footer3 {
	display: 33%;
	margin: 3px;
}
footer p {
	text-align: center;
	font-family: georgia, serif;
	font-size: 16px;
	padding: 5px;
}
footer a {
	display: block;
	float:  left;
	background-image: url("../images/Yellow.dot80.2RingsX.gif"); 
	background-size: 100% auto;
	background-position: center center;
	font-family: georgia, serif;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	width: 80px;
	height: 80px;
	padding: 0px;
	margin: 10px 5px 5px 5px;
}
footer span {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
footer a:hover {
	color: aqua;
}
#footerlogo {
	margin: 10px;
}
#footerad1 {
	width: 100%;
	#border: 2px yellow solid;
}

@media only screen and (min-width: 685px) and (max-width: 1024px) {
nav { 
	float: none;
	width: auto;
}
nav a {
	padding: 10px;
	margin: 15px 3px 15px 3px;
}			
#hcolumn1, #hcolumn3 {
	display: none;
}
#hcolumn2 {
	float: none;
	width: 100%;
}
#column1, #column2 {
	float: left;
	width: 47%;
}
#column3 {
	float: left;
	width: 47%;
}
#column4 {
	float: left;
	display: inline-block;
	background-color: #F5DEB3;
	width: 47%;
	padding: 10px
	margin: 10px;
	#border: 2px yellow solid;
}
#column4 h2 {
	background-image: url("../images/Satin_WideHR.gif");
	font-size: 1.4em;
	text-align: center;
	color: red;
	font-style: normal;
	padding: 8px;
	margin-top: 8px;
}
#column4div a {
	text-decoration: none;
	text-align: center;
	font-family: helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: 2.2em;
	color: blue;
	background-color: #F5DEB3;
	padding: 5px 20px 5px 20px;
	margin: 5px 5px 5px 5px;
}
#column4div a:hover {
	color: aqua;
}
#column4 p {
	text-align: center;
	color: red;
	margin: 10px;
}
#column4img {
	display: block;
	width: 96%;
	margin: 5px;
	position: center;
	#border: 2px yellow solid;
}

#footer1, #footer2 {
	float: none;
	display: 50%;
	margin: 3px;
}
#footer3 {
	display: none;
	margin: 3px;
}
}

@media only screen and (min-width: 230px) and (max-width: 685px) {
#hcolumn1, #hcolumn3 {
	display: none;
}
#hcolumn2 {
	float: none;
	width: 100%;
}
.column {
	float: none;
	display: block;
	width: 98%;
}
#footer1, #footer2 {
	float: none;
	display: auto;
	margin: 3px;
}
#footer2, #footer3 {
	display: none;
	margin: 3px;
}
}
