header {
	text-align: center;
	background-color: #000080;
	border: 1px black solid;
	padding: 20px;
}
nav {
	font-family: Tahoma, sans-serif;
	font-variant: small-caps;
	font-size: 1.7em;
	font-weight: 400;
	margin: 20px;
	text-transform: capitalize;
	text-align: center;
	background-color: #2F4F4F;
	border: 1px black solid;
	padding: .8em 1em;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
	max-width: 600px;
}
body {
	font-family: 'Lusitana', Georgia, serif;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px; 
	max-width: 800px;
	background-color: #DCDCDC;
}
h1 {
	text-align: center;
	text-transform: capitalize;;
	margin-left: 30px;
	margin-right: 30px;
	font-family: Georgia;
	font-size: 2.5em;
	font-style: italic;
	font-weight: 700;
	color: #FF0000;
}
h2 {
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 1.8em;
	font-weight: 700;
	font-style: italic;
	color: #808080;
}
h3 {
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 1.8em;
	font-weight: 400;
	font-style: italic;
	color: #FF0000;
}
p {
	text-align: center;
	color: #000;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Lusitana', Georgia, serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5em;
}
div/section {
	background-color: #FFE2B3;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
#slogan {
	text-align: center;
	text-transform: capitalize;
	color: #FF0000;
	font-size: 60px;
	font-family: "Lusitana", sans-serif;
	font-weight: 600;
	font-style: italic;
}
ul li {
	text-align: left;
	color: #000;
	margin-left: 60px;
	font-size: 14px;
	font-weight: 200;	
}
img {
	display: block;
	margin: 0 auto;
	max-width: 600px;
	overflow: hidden;
}
a {
	color: #FF0000;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
}
#one {
	background-image:;
	background-size: relative;
	border: 1px black solid;
	padding: 20px;
}
#two {
	background-color: ;
	border: 1px black solid;
	padding: 20px;
}
#three {
	background-color: ;
	border: 1px black solid;
	padding: 20px;
}
#four {
	background-color: ;
	border: 1px black solid;
	padding: 20px;
}
#five {
	background-color: ;
	border: 1px black solid;
	padding: 20px;
}
#six {
	background-color: ;
	border: 1px black solid;
	padding: 20px;
}
#seven {
	background-color: ;
	border: 1px black solid;
	padding: 20px;
}
.intro {

}
.square {

}
.description {

}
.wrapper {
	float: center;
	width: 100%;
	display: block;
	position: relative;
}
.picture1 {
	float: center;
	width: 90%;
	display: block;
	position: relative;	
}
.picture2 {
}
.picture3 {
}
.picture4 {
	float: left;
}
.picture5 {
}
}
footer {
	text-align: center;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}